@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'HeadingNow';
  src: url('../public/fonts/HeadingNow-16Bold.ttf') format('ttf');
  font-weight: 300; /* sesuai weight */
  font-style: normal;
}

@font-face {
  font-family: 'HeadingNowHeavyItalic';
  src: url('../public/fonts/HeadingNow-68HeavyItalic.ttf') format('ttf');
  font-weight: 700; /* sesuai weight */
  font-style: italic;
}

/* Untuk alternatif gratis, ubah nama font sesuai yang dipakai */


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
